.card {
    border-radius: 0;
    margin: 12px 0;
}

.card-header {
    background-color: #1e1e1e;
    color: #f2f2f2;
}

.arrow-back a{
    color: #f2f2f2;
}

.card-header-text {
    text-align: center;
    font-family: 24px;
    margin: 0;
    padding: 0;
}